
<div class="sidebar-widget bg-black bg-no-repeat bg-center mb-2 bg-cover  p-6 rounded-b-lg"
style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), center / cover url( ../../assets/5002.jpg )">
<section id="postProduct">
  <div class="container p-5">

    <div class="sidebar-widget-header-right  border-yellow-600 border-2 rounded-t-full rounded-l-full px-1 py-1 shadow-2xl bg-gray-900 ">
    <div class="flex w-full mb-20 flex-wrap m-2">
      <div class="p-2 bg-yellow-700 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
        role="alert">
        <span class="flex rounded-full bg-gray-900 uppercase px-2 py-1 text-xs font-bold mr-3">Add</span>
        <span class="font-semibold mr-2 text-left flex-auto">New Movie</span>
        <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" /></svg>
      </div>

      <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base text-yellow-700">Show-Movies allows you to enjoy online
        playback of content with the best audio-visual quality in all the most popular and common formats.
      </p>
    </div>
    </div>

    <hr>
    <app-message></app-message>
    <div *ngIf="!categories" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="categories" class="card bg-light">
      <div class="card-body">
        <form enctype="multipart/form-data">
          <div class="form-group">
            <label class="form-control-label">Title</label>
            <input type="text" name="title" class="form-control" [(ngModel)]="product.title">
          </div>
          <div class="form-group">
            <label class="form-control-label">Year</label>
            <input type="number" name="year" class="form-control" [(ngModel)]="product.year">
          </div>
          <div class="form-group">
            <label>Category</label>
            <select name="categoryId" [(ngModel)]="product.categoryId" class="custom-select">
              <option *ngFor="let category of categories" [value]="category._id">
                {{ category.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" rows="5" [(ngModel)]="product.description"></textarea>
          </div>
          <div class="form-group">
            <label class="form-control-label">Trailer URL</label>
            <input type="text" name="trailer" class="form-control" [(ngModel)]="product.trailer">
          </div>
          <div class="form-group">
            <label class="form-control-label">Streaming URL</label>
            <input type="text" name="streaming" class="form-control" [(ngModel)]="product.streaming">
          </div>
          <div class="form-group">
            <label class="form-control-label">Download URL</label>
            <input type="text" name="download" class="form-control" [(ngModel)]="product.download">
          </div>
          <div class="form-group">
            <label class="form-control-label">Evaluation</label>
            <input type="text" name="evaluation" class="form-control" [(ngModel)]="product.evaluation">
          </div>
          <div class="form-group">
            <label>Upload Image</label>
            <input type="file" class="form-control-file" accept="image/*" name="files" (change)="fileChange($event)">
          </div>
          <hr>
          <button type="button" class="btn btn-success" (click)="post()" [disabled]="btnDisabled">Post</button>
        </form>
      </div>
    </div>
  </div>
</section>
</div>
