<div class="sidebar-widget bg-black bg-no-repeat bg-center mb-2 bg-cover  p-6 rounded-b-lg"
  style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), center / cover url( ../../assets/5002.jpg )">
  <section id="postProduct">
    <div class="container p-5">


      <div class="card bg-light my-5">
        <div class="card-body">
          <h4 class="card-title">Add a news</h4>
          <hr>
          <div class="form">
            <div class="form-group">
              <label>Title</label>
              <input type="text" name="title" class="form-control" [(ngModel)]="myNews.title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="5" name="description" [(ngModel)]="myNews.description"></textarea>
            </div>
            
           
            
            <br>
            <button type="button" class="btn btn-info" (click)="postNews()" [disabled]="btnDisabled">Post News</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

